html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: $font;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  margin: 0;
}

p {
  font-size: 1.08rem;
  color: $secondary-text-color;
  line-height: 2.2;
}