
$background: #edeae9;
$dark-background: #444;
$primary-text-color: #D8972A;
$secondary-text-color: #95989A;
$darker-text: #3E4451; 


$text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.2);


$font: 'Roboto', sans-serif;


$transition-speed3: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);


@mixin center($axis: "x") {
	@if $axis == "y" {
		top: 50%;
		transform: translateY(-50%);
	}

	@if $axis == "x" {
		left: 50%;
		transform: translateX(-50%);
	}

	@if $axis == "both" {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
