.page {
  overflow-x: hidden;
  height: 100vh;
  background: none;
  &__wrapper {
    height: 100vh;
    position: relative;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    position: absolute;
    width: 100%;
    max-width: 90rem;
    padding: 0;
    top: 15%;
    @media only screen and (max-width: 480px) {
      max-width: 26rem;
      padding: 0 25px 0 10px;
      left: 0;
    }
  }
  &__title {
    font-size: 4.5rem;
    color: $darker-text;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }
  .divider {
    position: relative;
    border: 0;
    height: 3px;
    width: 20%;
    background: $primary-text-color;
    margin: 15px 0;
    @include center(x);
  }
}