.footer {
  position: relative;
  display: flex;
  text-align: center;
  margin: 12rem 0;
  &__body {
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
    img {
      position: relative;
      width: 90%;
    }
  }
  &__inline {
    display: inline-flex;
    margin-top: 8rem;
    text-transform: uppercase;
    .button {
      background-color: $primary-text-color;
      &:hover {
        background-color: lighten($darker-text, 10%);
      }
    }
  }
}