.home {
  top: 35%;
  left: 15%;
  max-width: 60rem;
  p {
    font-style: italic;
    line-height: 1.7;
  }
  .divider {
    left: 11%;
    margin-bottom: 2rem;
  }
  h1 {
  font-size: 5rem;
  text-shadow: 1px 1px #9e9e9e;
  color: #f5f5f5;
}
}