.weDo {
  display: inline-flex;
  text-align: center;
  margin: 5rem 0;
  &__website {
    max-width: 30rem;
    padding: 0 3rem;
  }
  &__search {
    max-width: 30rem;
    padding: 0 3rem;
  }
  &__marketing {
    max-width: 30rem;
    padding: 0 3rem;
    img {
      margin-bottom: 2rem;
    }
  }
  h1 {
    font-weight: 700;
    color: $darker-text;
    font-size: 1rem;
    text-transform: uppercase;
  }
  img {
    margin: 1.5rem 0;
  }
}