.button {
  top: 2rem;
  text-transform: uppercase;
  padding: 12px 24px;
  vertical-align: middle;
  text-decoration: none;
  overflow: visible;
  color: #fff;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: $darker-text;
  border: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  user-select: none;
  transition: all $transition-speed3;
  max-width: 13rem;
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  &:hover {
    background-color: $primary-text-color;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}