.section {
  background-size: cover;
}
.slide {
  background-size: cover;
}

#section1 {
  background-image: url(../img/1.png);
}
#section2 {
  background-image: url(../img/2.png);
}
#section3 {
  background-image: url(../img/3.png);
}

#section4 {
  background-image: url(../img/4.png);
}

#section5 {
  background-image: url(../img/5.png);
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
  background: #888C92;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  background: none;
  border: 2px solid $primary-text-color;
  border-radius: 100%;
}

#fp-nav.right {
  left: 0;
}