.fa-user-o {
  color: $secondary-text-color;
  font-size: 3rem;
  margin-right: 16px;
}

.socialMedia {
  ul {
    position: absolute;
    right: 5%;
    display: block;
    list-style: none;
    margin-top: 36px;
    z-index: 2;
    li {
      display: inline-block;
      padding: 10px 25px;
      a {
        text-decoration: none;
        color: $primary-text-color;
        font-size: 1.8rem;
        transition: all $transition-speed3;
        &:hover {
          color: lighten($darker-text,10%);
        }
      }
    }
  }
}